<%= image_tag '/images/top.jpg',class: "box" %>
<h1>デートで失敗したくない人のためのデートスポット共有サイト「Spotストッカー」</h1>

<h2>デートスポット選びで悩んだ経験はありませんか。</h2>
<p>「デートの予定を立てる時間がない」「情報量が多すぎてどこを選んだらいいのか分からない」こんな悩みを解決するため、Spotストッカーは生まれました。インターネットで探した情報で起こりがちな「イメージと違った」を無くすため、実際に行ったスポットをユーザー同士で共有し、失敗しないデートスポットを探しましょう。</p>